.webpage {
  display: flex;
}

* {
  font-family: "Times New Roman", Times, serif;
}

.minor {
  background-color: green;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 20%;
  padding: 5px;
  margin: 5px;
}

img {
  border-radius: 50%;
}

.major {
  display: flex;
  background-color: blue;
  flex-direction: column;
  width: 80%;
  margin: 5px;
}

.intro {
  background-color: aquamarine;
  display: flex;
  align-items: flex-start;
  align-items: stretch;
  padding: 5px;
  margin: 5px;
  height: 30%;
}

.content {
  background-color: aqua;
  display: flex;
  align-items: flex-end;
  align-items: stretch;
  padding: 5px;
  margin: 5px;
  height: 80%;
  justify-content: space-between;
  flex-direction: column;
}

p {
  font-size: small;
}

.experience {
  order: 1;
  background-color: #99f5b2;
  padding: 5px;
  margin: 5px;
}

.education {
  order: 2;
  background-color: #a5c1ff;
  padding: 5px;
  margin: 5px;
}

h1,
h2 {
  font-size: medium;
}
h3 {
  font-size: small;
}
ul {
  font-size: smaller;
}
